$light-blue: #003366;
$blue: #302b2b; 

$primary-red: #d73838;
$yellow: #e4a721;

$light-grey: #a7a9ac;
$medium-grey: #8c8e90;
$dark-grey: #425058;

$bd-black: #343434;
$white: #ffffff;

$primary: #4499c8;
$warning: #d2a55e;
$danger: #d25e5e;